:host ::ng-deep .active-nav-link.mdc-button {
  border-color: rgb(37 99 235 / 0.75);
  color: rgb(30 64 175);
}

:host-context(.dark) ::ng-deep .active-nav-link.mdc-button {
  border-color: rgb(147 197 253 / 0.7);
  color: rgb(191 219 254);
}
